@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.time {
    text-align: center;
    padding: 32px;
}

.time h3 {
    margin-bottom: 24px;
    font-size: 32px;
    border-bottom: 4px solid;
    padding-bottom: 8px;
    display: inline-block;
    font-family: "Prata", serif;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}